select.dropDownBox {
  width: 45%;
  height: 2rem;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 14px;
  /* margin-right: ; */
  /* appearance: none; */
}
/* 
i {
  text-align: right;
} */
