.formContainer {
  background-color: white;
  height: 475px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

.inputBoxWrapper {
  margin-top: 30%;
}

.dropDownBoxWrapper {
  display: block;
  flex: 60%;
  text-align: left;
}

#expiryDateLabel {
  text-align: left;
}

.bottomInputWrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
